@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 240, 240;
  --background: 34, 34, 34;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: revert;
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-wrap: normal;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  hyphens: auto;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-wrap: normal;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  word-break: break-all;
  hyphens: auto;
}
